.about {
  text-align: center;
  font-family: $parag-font;
  @media (min-width: $lg) {
    padding-bottom: 20px;
  }

  //   IMAGE
  .large-dog-img {
    width: 100%;
    margin-bottom: 20px;
    @media (min-width: $md) {
      height: 500px;
      object-fit: cover;
    }
  }
  // TEXT AREA
  .about-section {
    max-width: $lg;
    margin: auto;
    .about-main {
      width: 80%;
      margin: auto;
      margin-bottom: 20px;
      padding-bottom: 20px;
      .about-title {
        font-weight: 600;
        font-size: 1.6rem;
        width: 100%;
        margin: auto;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
      }
      .about-description {
        line-height: 1.2;
        margin-bottom: 40px;
      }
    }
    .paw-icon {
      width: 40px;
      margin: auto;
    }

    .about-points {
      .about-value-title {
        font-size: 1.5rem;
        width: 80%;
        margin: auto;
        font-weight: 600;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
        margin-bottom: 30px;
      }
      .about-values {
        width: 80%;
        margin: auto;

        .about-sub {
          width: fit-content;

          margin-bottom: 20px;
          @media (min-width: $lg) {
            width: 33.3%;
          }
          .about-sub-title {
            font-size: 1.4rem;
            font-weight: 500;
            margin-bottom: 10px;
          }
          .about-sub-description {
            width: 80%;
            margin: auto;
            margin-bottom: 30px;
            @media (min-width: $lg) {
              height: 130px;
            }
          }
          .paw-icon {
            width: 25px;
            margin-bottom: 10px;
          }
        }
        @media (min-width: $lg) {
          display: flex;
        }
      }
    }
  }
}
