$main-font: "Mulish", sans-serif;
$fancy-font: "Dancing Script", cursive;
$parag-font: "Helvetica Neue", sans-serif;
$dark-color: #832161;
$dark-color-highlight: #963876;
$light-color: #f0ecec;
$off-black: #0e1111;

// screen sizes
$sm: 500px;
$md: 768px;
$lg: 1024px;
