@import "variables";
.searchPage {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .searchPage-loading {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    .searchPage-title {
      text-align: center;
      font-weight: 500;
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
    .searchPage-paw-icon {
      height: 50px;
      width: 50px;
      animation: spin 2s linear infinite;
      margin: auto;

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .searchPage-btn-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .searchPage-btn {
    background: $dark-color-highlight;
    padding: 10px 15px;
    border-radius: 1px;
    width: 140px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 1rem;
    &:hover {
      background: $dark-color;
    }
    &:focus {
      background: $dark-color;
    }
  }
}
